// ------ VARS ------

// ------ IMPORTS ------
// Required

// Optional

.public-page {
	.navbar {
		&.app-navbar {
			.navbar-nav {
				.nav-item {
					.nav-link {
						border-radius: 4px;
						&.btn {
							&.btn-primary {
								color: white;
								&:hover {
									background-color: rgba(0, 164, 255, 0.1);
									border-color: rgba(0, 164, 255, 0.1);
									color: $primary;
								}
							}
						}
					}
				}
			}
		}
	}
	.btn {
		&.btn-primary {
			color: white;
		}
	}
}

.navbar {
	&.app-navbar {
		padding-bottom: 0;
		padding-top: 0;
		.navbar-brand {
			padding: 0;
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					@include transition();
					color: $primary;
					height: 36px;
					letter-spacing: 0.5px;
					line-height: 36px;
					padding: 0 1.2rem;
					text-transform: uppercase;
					&:hover {
						background-color: rgba(0, 164, 255, .1);
					}
					&:focus {
						background-color: transparent;
						outline: none;
					}
					&.disabled {
						opacity: .3;
					}
				}
			}
		}
		.user-dropdown {
			.nav-link {
				@include transition();
				border-top-right-radius: 18px;
				border-bottom-right-radius: 18px;
				color: $primary;
				height: 36px;
				letter-spacing: 0.5px;
				line-height: 36px;
				padding: 0 1.2rem;
				padding-right: 0;
				text-transform: uppercase;
				.user-avatar {
					background-color: #ff0044;
					/*background-image: url("../../images/app/header/avatar.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;*/
					//border: 2px solid rgba(0, 0, 0, .2);
					border-radius: 50%;
					box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .25);
					display: inline-block;
					height: 36px;
					margin-left: 10px;
					text-align: center;
					vertical-align: middle;
					width: 36px;
					i {
						color: white;
						line-height: 36px;
					}
				}
				&:hover {
					background-color: rgba(0, 164, 255, .1);
				}
				&:focus {
					background-color: rgba(0, 164, 255, .1);
					outline: none;
				}
				&:after {
					content: none;
				}
			}
		}
	}
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}






