// ------ VARS ------

// ------ IMPORTS ------
// Required

// Optional

.table {
	&.table-hover {
		tbody {
			tr {
				&:hover {
					background-color: rgba(0, 164, 255, .05);
				}
			}
		}
	}
	tbody {
		tr {
			td {
				border-bottom: 1px solid rgba(72, 72, 72, .15);
				border-top: none;
				padding: 0.71rem 0.75rem;
			}
		}
	}
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}






