// ------ VARS ------

// ------ IMPORTS ------
// Required

// Optional

.app-hover-row {
	border-bottom: 1px solid rgba(72, 72, 72, .1);
	padding: 11px 15px;
	.edtit-product-detail {
		display: block;
	}
	&:hover {
		background-color: rgba(0, 164, 255, .05);
		.edtit-product-detail {
			display: block;
		}
	}
	&.active {
		background-color: rgba(0, 164, 255, .1);
	}
	.file-date {
		font-size: 80%;
		font-weight: 700;
	}
	&.selected {
		&.active {
			@include transition();
			background-color: white;
			border-bottom: 1px solid rgba(72, 72, 72, .25);
			box-shadow: inset 3px 0 0 $primary;
		}
	}
}

.list-group {
	.list-group-item {
		@include transition();
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(72, 72, 72, 0.1);
		padding: 0.75rem 1rem;
		text-transform: uppercase;
		&:hover {
			background-color: rgba(0, 164, 255, .05);
		}
		&.active {
			background-color: white;
			border-left: 2px solid $primary;
			border-bottom: 1px solid rgba(72, 72, 72, 0.2);
			//box-shadow: inset 2px 0 0 $primary;
			color: $primary;
			padding-left: 1.6rem;
		}
		&:first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		&:last-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}






