// ------ VARS ------

/*$container-max-widths: (
	sm: 100%,
	md: 100%,
	lg: 960px,
	xl: 1140px
);*/

$bike-text-gray: #9b9b9b;

// ------ IMPORTS ------
// Required
@import "../bootstrap/bootstrap";

// Optional

@media (max-width: 767px) {}

@media (max-width: 575px) {}






