// ------ VARS ------
@import "app-variables";

// ------ IMPORTS ------
// Required
@import "../bootstrap/bootstrap";

//OS
@import "app-buttons";
@import "app-card";
@import "app-font";
@import "app-type";

// ------ BASICS ------
html {
	overflow-x: hidden;
	height: 100%;
}
body {
	background-color: #0063ea;
}

main {
	overflow-x: hidden;
}
.share-container {
	background-color: #202020;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
	left: 0;
	padding: 10px 10px 6px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


