/* ------ */
html {
	height: 100%;
}

body {
	background-color: #1d1d1d;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.absoluteContainer {
	background-color: #f5f5f5;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.rgb {
	color: #fff;
	font-size: 3em;
	font-weight: 200;
	letter-spacing: 2px;
	margin: 0;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	top: 50%;
	transform: translate(0, -30px);
	width: 100%;
}