// Imports
@import "../bkool-variables";

// Bootstrap styles
// Required
@import "../../bootstrap/functions";
@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";

@import "../../bootstrap/media";
@import "../../bootstrap/modal";
@import "../../bootstrap/card";

// Bkool styles
@import "../bkool-modal";
@import "../bkool-card";
@import "../owl-carrousel";

// Section Welcomw
/*#public-home-section-welcome {
	background-image: url("../../images/public-web/home/home-welcome-mobile.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	.container {
		height: 100%;
	}
	.container {
		padding: 5rem 0;
	}
}*/
#public-home-section-welcome {
	background-image: url("../../images/public-web/home/bkool-home-welcome-BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8rem 0;
}

.video-overlay {
	background-color: rgba(0, 0, 0, .75);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#myVideo {
	background-image: url("../../images/public-web/home/video-BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	min-height: 100%;
	min-width: 100%; 
	opacity: .8;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -100;
}

// Section cycling
#public-home-section-cycling {
	.cycling-cards {
		margin-top: -80px;
	}
}

#bkool-is-cycling {
	background-image: url("../../images/public-web/home/bkool-is-cycling.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#bkool-is-fitness {
	background-image: url("../../images/public-web/home/bkool-is-fitness.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

// Section unlimmited
#public-home-section-unlimmited {
	.unlimmited-right {
		.unlimmited-right-content {
			background-color: #eee;
		}
	}
}

// Section banner
#public-home-section-banner {
	background-image: url("../../images/public-web/home/section-banner-BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}

// Section Join
#public-home-section-join {
	background-image: url("../../images/public-web/home/bkool-join-BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Section Comments
#public-home-section-comments {
	.owl-item {
		width: 80%;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	// Section fitness
	#public-home-section-fitness {
		background-color: #eee;
	}
	// Section Join
	#public-home-section-join {
		background-color: #eee;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// Section beginning
	#public-home-section-begining {
		background-image: url("../../images/public-web/experience-shapes/velodrome-shape-section.svg");
		background-position: -1000px top;
		background-repeat: no-repeat;
		background-size: 2000px auto;
	}
	// Section Welcome
	/*#public-home-section-welcome {
		background-image: none;
		padding: inherit;
	}*/
	#public-home-section-welcome {
		padding: 12rem 0;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	/*#public-home-section-welcome {
		.container {
			padding: inherit;
		}
	}*/
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

