// Imports
@import "../bkool-variables";

// Bootstrap styles
// Required
@import "../../bootstrap/functions";
@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";

@import "../../bootstrap/badge";
@import "../../bootstrap/media";
@import "../../bootstrap/modal";
@import "../../bootstrap/card";

// Bkool styles
@import "../bkool-badge";
@import "../bkool-modal";
@import "../bkool-card";
@import "../owl-carrousel";

// Section welcome
#public-cycling-section-welcome {
	background-image: url("../../images/public-web/cycling/bkool-cycling-welcome-BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8rem 0;
}

// Section views
#public-simulator-section-views {
	#viewsTabContent {
		min-height: 600px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		&:before {
			//background-color: rgba(0, 0, 0, .75);
			background: url("../../images/public-web/home/overlay.png") repeat top left;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}
	#views-video, #views-3d, #views-map {
		background-image: url("../../images/public-web/cycling/videos/poster-video_video.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 600px;
		//padding: 18.75rem 1.5rem;
	}
	#views-3d {
		background-image: url("../../images/public-web/cycling/videos/poster-rutas_video.jpg");
	}
	#views-map {
		background-image: url("../../images/public-web/cycling/videos/poster-mapa_video.jpg");
	}
	.container {
		margin-top: -100px;
	}
}

.texture-video-overlay {
	background-color: rgba(0, 0, 0, .75);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

$video-top-position: (100 / 1.7)% - 300px;
.views-video {
	bottom: 0;
	min-height: 100%;
	min-width: 100%; 
	opacity: 1;
	position: absolute;
	right: 0;
	top: $video-top-position;
	z-index: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// Section welcome
	#public-cycling-section-welcome {
		padding: 12rem 0;
	}

	// Section views
	#public-simulator-section-views {
		background-image: url("../../images/public-web/experience-shapes/velodrome-shape-section.svg");
		background-position: -1000px bottom;
		background-repeat: no-repeat;
		background-size: 2000px auto;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}