/* ------ */
body {
	background-color: #f5f5f5;
	font-family: 'Roboto Condensed', sans-serif;
}
p {
	background-color: #fff;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	padding: 6px 12px;
}

h1 {
	color: dodgerblue;
	font-weight: 100;
}

h2 {
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 0;
	text-transform: uppercase;
}

.container {
	padding-bottom: 40px;
	padding-top: 40px;
}

.cuadro {
	/*background-color: greenyellow;*/
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	height: 300px;
}

.active {
	border: 1px solid #e1e1e1;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.disabled {
	opacity: .4;
}

.check, .lock {
	background-color: dodgerblue;
	border-radius: 50%;
	color: white;
	left: 50%;
	padding: 5px;
	position: absolute;
	top: 50%;
	transform: translate(-17px, -17px);
}

.lock {
	opacity: .5;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.share-container {
	background-color: #202020;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
	left: 0;
	padding: 10px 10px 6px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}